extend layout

block navbar
  include partials/navbar

block content
  h1 #{menu.list[1].name}

  hr

  h1
    span Content
    | Another content

  br
  | content
  ul
    li
      a(href="#") link
    li
      a(href="#") link
    li
      a(href="#") link
  h1: a(href="#"): span 連結

  h1
    a(href="#")
      span 連結
  hr

  .container
    form(action="")
      label(for="email") 請輸入 Email
      input#email.form-control.input-sm(type="text")
