extend layout

block navbar
  - var path = 'list.html'
  include partials/navbar

block content
  .card-columns
    each item in khData.result.records
      .card
        img.card-img-top.img-fluid(src=item.Picture1, alt='Card image cap')
        .card-block
          h4.card-title #{item.Name}
          p.card-text
            | #{item.Description}